@font-face {
	font-family: 'Gotham Pro';
	src: url('fonts/GothamPro-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('fonts/GothamPro-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal; 
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('fonts/GothamPro.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 0;
  -webkit-font-smoothing:antialiased;
}
h3{
  margin: 0;
}
.header, .footer{
  background-color: #27273e;
  color: #fff;
}
.wrapper{
  color: #000;
  background-color: #fff;
}
.container{
  width: 1100px;
  margin: 0 auto;
}
.container{
  position: relative;
  min-height: 77px;
}
.logo{
  position: absolute;
  top:13px;
  left:19px;
}
.contact-information{
  position: absolute;
  right: 21px;
  top:22px;
  text-align: right;
  font-style: normal;
}
.contact-information__phone{
  font-family: "Gotham Pro", sans-serif;
  font-size:21px;
  font-weight: bold;
}
.contact-information__schedule-work{
  font-family:"Open Sans";
  font-size: 14px;
  font-weight: bold;
}
.contact-information__schedule-work>a{
  color:#fff;
}
.contact-information__schedule-work>a:hover{
  color:#ec1e79;
}
.dream-preview{
  padding-top: 77px;
}
.page, .sidebar{
  display: inline-block;
  vertical-align: top;
}
.page{
  width: 890px;
}
.sidebar{
  width: 200px;
}
.dream-preview{
  max-width: 100%;
}
.title{
  color:#221f1f;
  font-family: "Gotham Pro", sans-serif;
  font-weight: bold;
  font-size: 49px;
  margin-bottom: 75px;
}
.news__subtitle{
  font-family: "Roboto";
  font-size: 18px;
  color:#221f1f;
  font-weight: bold;
  margin-bottom: 18px;
}
.features{
  padding-top: 67px;
  margin-bottom: 67px;
}
 .features__list{
  color:#221f1f;
  list-style: none; 
}
.features__item{
  text-align: center;
  margin-left: 70px;
  display: inline-block;
}
.features__item:first-child{
  margin-left: 24px;
}
.features__picture{
  background-color: #27273e;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  padding: 10%; 
  margin-bottom: 35px;
}
.features__picture__icon{
  display: block;
  color: #fff;
  background-position: center;
}
.features__description__text{
  font-family: "Gotham Pro", sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  padding: 0px;
  margin-bottom: 18px;
}
.features__description__subtitle{
  font-family: "Gotham Pro", sans-serif;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 2.64px;
  margin-bottom: 28px;
}
.features__description__list{
  font-family: "Gotham Pro", sans-serif;
  font-size: 18px;
  text-align: left;
  background-position: center;
  list-style: none;
  line-height: 1.67;
}
.features__description__list:before{
  font-size: 18px; 
  color:#cc3366;
  content: "•";
  padding-right: 30px;
}
.news__list{
  margin:0;
  list-style: none;
}
.news__picture{
  border-radius: 50%;
  display: inline-block;
  width: 160px;
}
.news__item{
  display: inline-block;
  min-width:  685px;
}
.news__item:last-child{
  margin-bottom: 60px;
}
.news__date{
  opacity: .7;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 14px;

}
.news__desc{
  min-width: 400px;
  display: inline-block;
  margin-left: 21px;
}
.news__text{
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  color:#221f1f;
  line-height:30px;
  margin-bottom: 0;
}
.footer{
  background-color: #27273e;
  color: #fff;
}
.footer__logo{
  display: inline-block;
  text-align: center;
}
.social{
  display: inline-block;
}
.menu__text{
  font-family: "Gotham Pro", sans-serif;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2.4px;
  text-decoration: none;
  color: #ec1e79;
  transition-duration: 1.0s color;
}
.menu__list{
  margin-top: 80px;
  margin-left: 20px;
  padding-left: 0px;
  list-style: none;
}
.menu__text:before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 18px;
  background: no-repeat center center;
  margin-right: 20px;
}
.menu__text--icon--triangle:before{
  transition-duration: .7s;
  background-image: url(img/icon_triangle.png);
}
.menu__text--icon--triangle:hover:before{
  transition-duration: .5s;
  background-image: url(img/icon_triangle-hover.png);
}
.menu__text--icon--star:before{
  transition-duration: .5s;
  background-image: url(img/feed_icon.png);
}
.menu__text--icon--star:hover:before{
  transition-duration: .5s;
  background-image: url(img/feed_icon-hover.png);
}
.menu__text--icon--wallet:hover:before{
  transition-duration: .5s;
  background-image: url(img/icon_wallet-hover.png);
}
.menu__text--icon--wallet:before{
  transition-duration: .5s;
  background-image: url(img/icon_wallet.png);
}
.menu__text:hover{
  text-decoration: underline;
  color: #000000;
  transition-duration: .5s;
}
.menu__item{
  margin-bottom: 30px;
}
.menu__item:last-child{
  margin-bottom: 0px;
}
.pagination{
  text-align: center;
  margin-bottom: 75px;
}
.pagination__display{
  display: inline-block;
  vertical-align: middle;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 14px;
  color:#656464;

}
.pagination__controlls{
  display: inline-block;
}
.pagination__pages-item{
  display: inline-block;
  font-family:"Roboto";
  font-weight: bold;
  font-size: 14px;
  margin-left: 20px;
}
.pagination__pages-item:first-child{
 margin-left: 0;
}
.pagination__prev{
  margin-left: 20px;
}
.pagination__next{
  margin-left: 20px;
}
.pagination__prev, .pagination__next{
  display: inline-block;
  text-decoration: none;
  font-family:"Roboto";
  font-weight: bold;
  color:#221f1f;
  opacity: .3;
  font-size: 20px;
  vertical-align: middle;
}
.pagination__prev:hover, .pagination__next:hover{
  display: inline-block;
  text-decoration: none;
  font-family:"Roboto";
  font-weight: bold;
  color:#221f1f;
  opacity: 1;
}
.pagination__pagexs-list{
  margin-left:18px;
  padding:0;
}
.pagination__pages-link{
  text-decoration: none;
  color:#221f1f;
}

.pagination__pages-link:hover{
  padding: 15px 18px;
  background-color: #27273e;
  color:#fff;
  border-radius: 4px;
}
.footer{
  min-height: 77px;
}
.information{
  font-family: "Gotham Pro", sans-serif;
  font-weight: 300;
  font-size: 14px;
  position: absolute;
  left: 19px;
  top: 15px;
  display: inline-block;
}
.information>a{

  color:#fff;
  font-weight: bold;
}
.information__author{
  font-weight: bold;
}
.social{
  text-align: left;
  position: absolute;
  right: 22px;
  top:18px;
  font-weight: bold;
}
.social__item{
  position: relative;
  display: inline-block;
}
.logo_two{
  top:12px;
  right: 502px;
  position: absolute;
}
.social__title{
  font-family: "Gotham Pro, sans-serif";
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 6px;

}
.social__item{
  text-align: center;
  margin-left: 10px;
  display: inline-block;
  background-color: #d4d4d8;
  min-height: 20px;
  min-width: 20px;
  border-radius: 50px;
}
.social__item:first-child{
  margin-left: 0px;
}
.social__item:hover{
  background-color: #cc3366;
}
.social__url{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.news__line {
  border: 0px;
  margin-top: 24px;
  height: 2px;
  background-color: #f5f5f5;
  margin-bottom: 30px;
}
