.contact-information{
    margin-right: 21px;
    margin-top: 22px;
    text-align: right;
    font-style: normal;
  }
  .contact-information__phone{
    font-family: "Gotham Pro", sans-serif;
    font-size: 21px;
    font-weight: bold;
  }
  .contact-information__schedule-work{
    font-family:"Open Sans";
    font-size: 14px;
    font-weight: bold; 
  }
  .contact-information__schedule-work{
    transition: color 2s;
  }
  .schedule-work_link{
    color:#ec1e79;
  }
  .schedule-work_link:hover{
    color:#7faad4;
  }
