.footer{
    min-height: 77px;
  }
.footer>.container{
  display: flex;
  justify-content: space-between;
}
.footer{
    background-color: #27273e;
    color: #fff;
  }
.logo_two{
    margin-top:12px;
    /* rght: 502px; */
    /* position: absolute; */
  }