.wrapper-intro{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../img/intro_background-image.png') center center / cover no-repeat;
}
.intro-block{
    transform: scale(0);
    position: relative;
    z-index: 5;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.wrapper-intro__bcg-color::before {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(236, 30, 121, 0.15);
    z-index: 4;
    }
.intro-block__intro-logo{   
    margin-bottom: 29px;
}
    
.intro-block{  
    animation: logo_animation .3s 1s forwards;
}
@keyframes logo_animation{
    0% {
       transform: scale(0) rotate(5deg);
        }
    
    60%{
        transform: rotate(-5deg);
        }
    
    80%{
        transform: rotate(10deg);
        }
    
    100%{
        transform: scale(1);
        }
} 
.intro-block__link{
    font-family: 'Gotham Pro';
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ec1e79;
    border: 3px solid #ec1e79;
    padding: 16px 20px;
    cursor: pointer;
    transition: 0.4s;
}
.intro-block__link:hover{
    color: #fff;
    background: #ec1e79;
}