.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .pagination.comments{
    margin-left: -115px;
  }
  .pagination__display{
    vertical-align: middle;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 14px;
    color:#656464;
    margin-right: 20px;
  
  }
  .pagination__controlls{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .pagination__pages-item{
    display: flex;
    flex-direction: row;
    font-family:"Roboto";
    font-weight: bold;
    font-size: 14px;
  }
  .pagination__prev{
    margin-right: 15px;
  }
  .pagination__next{
    margin-left: 15px;
  }
  .pagination__prev, .pagination__next{
    display: inline-block;
    text-decoration: none;
    font-family:"Roboto";
    font-weight: bold;
    color:#221f1f;
    opacity: .3;
    font-size: 20px;
  }
  .pagination__prev:hover, .pagination__next:hover{
    text-decoration: none;
    font-family:"Roboto";
    font-weight: bold;
    color:#221f1f;
    opacity: 1;
  }
  .pagination__pages-link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width:25px;
    height: 25px;
    color:#221f1f;
  }  
  .pagination__pages-link:hover{
    background-color: #27273e;
    color:#fff;
    border-radius: 4px;
  }
  .pagination__pages-link--active,.pagination__pages-link--active:hover{
    background-color: #27273e;
    color:#ec1e79;
    border-radius: 4px;
  }
