.partners__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
}
.partners__item{
    width: 33.333%; 
}
.partners__item:nth-child(3){
    margin-right: 0;
    margin-bottom: 52px;
}
.partners__item__site__logo{
  opacity: 0.5;
  filter: grayscale(100%);
}
.partners__item__site__logo:hover{
    filter: none;
    opacity: 1;
}
.partners__list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.partners__item{
    margin-bottom: 45px;
    width:auto;
}
.partners__item:last-child{
    margin-bottom: 0;
}
.partners{
    text-align: center;
    margin-left: 21px;
    padding: 27px 63px 36px 68px;
    border: 1px solid #e8e9ed;
    margin-bottom: 29px;
}
.partners__title{
    margin-bottom: 51px;
    font-family: 'Gotham Pro';
    font-size: 18px;
    font-weight: bold;
    color:inherit; 
    text-transform: uppercase;   
}
