.form{
    font-family: "Gotham Pro";
    font-weight: 300;
    color: #221f1f;
    margin: 0 auto;
    width: 700px;
    min-height: 427px;
    background-color: #f5f5f5;
    border-radius: 3px;
    margin-bottom: 30px;
    padding: 51px 5%;
}
.form__title{
    margin-top: 0;
    margin-bottom: 30px;
}
.form__row{
    display: flex;
    margin-bottom: 21px;
}
.form__block{
    margin-right: 23px;
    flex:1;
}
.form__block:last-child{
    margin-right: 0;
}
.form__block-title{
    font-size: 14px;
    margin-bottom: 10px;
}
.form__input{
    width: 100%;
    padding: 16px 9px;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    outline: none;
    border: 1px solid transparent; 
}
.form__input:focus{
    border-color: #ec1e79; 
}
.form__input--textarea{
    resize: vertical;
    height: 90px;
}
.form__btn{
    padding: 19px 22px 17px 21px;
    font-size: 12px;
    letter-spacing: 2.4px;
    color:#fff;
    background-color: #27273e;
    border:none;
    border-radius: 3px;
    font-weight: bold;
}
.form__row:last-child{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0;
    flex-direction: row;
}
input[type="radio"] {
    display: none;
}
.form__block__radio-custom::before{
    vertical-align: middle;
    display: inline-flex;
    content: "";
    width: 20px;
    height: 20px;
    background: linear-gradient(to bottom, #ffffff, #ededed);
    border: 1px solid #c9c9c9;
    border-radius: 50%;
    margin-right: 6px;
}
.form__block--radio{
    display: inline-flex;
    align-items: center;
}
.form__input--radio:checked + .form__block__radio-custom::before{
    justify-content: center;
    align-items: center; 
    content: "•";
    color: #ec1e79;
    font-size: 34px;
    border: 1px solid #ec1e79;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.form__input--radio:checked ~ .form__block__text{
    color:#ec1e79;
}