.sidebar{
width:auto;
}
.menu__text{
    font-family: "Gotham Pro", sans-serif;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1.2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    transition: 0.8s color;
  }
  .menu__list{
    list-style: none;
  }
  .menu__text:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 17px;
    background-image: url(../../img/icons/sprite-icon-menu.png);
    background-repeat: no-repeat;
    transition: 0.8s;
  }
  .menu__item{
    margin-bottom: 30px;
  }
  .menu__item:last-child{
    margin-bottom: 0px;
  }
  /* New style */
.sidebar-tariff{
  margin-left: 20px;
  margin-right: 25px;
}
.features__top{
  padding: 30px 34px 31px 45px;
  text-align: center;
  border: 1px solid #e8e9ed;
  margin-bottom: 30px;
}
.features__top__title{
  text-transform: uppercase;
  font-family: 'Gotham Pro';
  color:#221f1f;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 34px;
}
.partners--vertical{
  display: flex;
  flex-direction: column;
}
.sidebar__patners{
  margin-right: 21px;
}
.sidebar{
  width: 25%;
  margin-left: 22px;
  margin-right: 24px;
}
.menu-workadium .menu__text:hover{
  text-decoration: none;
  color: #ec1e79;
}
.menu-workadium .menu__text--icon--triangle::before{
  width: 17px;
  height: 15px;
  background-position: -94px 0;
}
.menu-workadium .menu__text--icon--triangle:hover:before{
  width: 17px;
  height: 15px;
  background-position: -60px 0;
}
.menu-workadium .menu__text--icon--star:before{
  width: 20px;
  height: 18px;
  background-position: -40px 0;
}
.menu-workadium .menu__text--icon--star:hover:before{
  width: 20px;
  height: 18px;
  background-position: -20px 0;
}
.menu-workadium .menu__text--icon--wallet:before{
  width: 19px;
  height: 16px;
  background-position: -149px 0;
}
.menu-workadium .menu__text--icon--wallet:hover:before{
  width: 19px;
  height: 16px;
  background-position: -130px 0;
}
.menu-workadium .menu__text--active{
  text-decoration: none;
  color: #ec1e79;
}
.menu-workadium .menu__text--icon--triangle--active:before{
  width: 17px;
  height: 15px;
  background-position: -77px 0;
}
.menu-workadium .menu__text--icon--star--active:before{
  width: 20px;
  height: 18px;
  background-position: -20px 0;
}
.menu-workadium .menu__text--icon--wallet--active:before{
  width: 19px;
  height: 16px;
  background-position: -130px 0;
}
/* Вторая стр Отзывы */
.menu-reviews .menu__text{
  color: #ec1e79;
}
.menu-reviews .menu__text:hover{
  text-decoration: none;
  color: #221f1f;
}
.menu-reviews .menu__text--icon--triangle::before{
  width: 17px;
  height: 15px;
  background-position: -77px 0;
}
.menu-reviews .menu__text--icon--triangle:hover:before{
  width: 17px;
  height: 15px;
  background-position: -60px 0;
}
.menu-reviews .menu__text--icon--star::before{
  width: 20px;
  height: 18px;
  background-position: -20px 0;
}
.menu-reviews .menu__text--icon--star:hover:before{
  width: 20px;
  height: 18px;
  background-position: 0 0;
}
.menu-reviews .menu__text--icon--wallet:before{
  width: 19px;
  height: 16px;
  background-position: -130px 0;
}
.menu-reviews .menu__text--icon--wallet:hover:before{
  width: 19px;
  height: 16px;
  background-position: -111px 0;
}
.menu-reviews .menu__text--active{
  text-decoration: none;
  color: #221f1f;
}
.menu-reviews .menu__text--icon--star--active:before{
  width: 20px;
  height: 18px;
  background-position: 0 0;
}
/* Треттся стр тарифы  */
.menu-price .menu__text{
  color: #ec1e79;
}
.menu-price .menu__text:hover{
  text-decoration: none;
  color: #221f1f;
}
.menu-price .menu__text--icon--triangle::before{
  width: 17px;
  height: 15px;
  background-position: -77px 0;
}
.menu-price .menu__text--icon--triangle:hover:before{
  width: 17px;
  height: 15px;
  background-position: -60px 0;
}
.menu-price .menu__text--icon--star::before{
  width: 20px;
  height: 18px;
  background-position: -20px 0;
}
.menu-price .menu__text--icon--star:hover:before{
  width: 20px;
  height: 18px;
  background-position: 0 0;
}
.menu-price .menu__text--icon--wallet:before{
  width: 19px;
  height: 16px;
  background-position: -130px 0;
}
.menu-price .menu__text--icon--wallet:hover:before{
  width: 19px;
  height: 16px;
  background-position: -111px 0;
}
.menu-price .menu__text--active{
  text-decoration: none;
  color: #221f1f;
}
.menu-price .menu__text--icon--wallet--active:before{
  width: 19px;
  height: 16px;
  background-position: -111px 0;
}