.social{
    text-align: left;
    font-weight: bold;
}
.social__url{
    text-decoration: none;
    margin-right: 10px;
}
  .social__title{
    font-family: "Gotham Pro", sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 6px;
  }
  .social__item{
    display: inline-block;
    position: relative;
    min-height: 20px;
    min-width: 20px;
    border-radius: 50%;
    background-color: #d4d4d8;
  }
  .social__item::after{
    content: "";
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
  }
  .social__item:last-child:after{
    content: "";
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 15px; height: 9px;
    background: url('../../img/css_sprites.png') -10px -10px;
  }
  .social__item:last-child{
    margin-right: 0px;
  }
  .social__item:hover{
    background-color: #ec1e79;
  }
/*New style*/
.social{
  display: flex;
  flex-direction: column;
  align-items: center;
}